@using System.Text
@using DellyNote.Razor.Localization
@using Nuo.Extension
@{
    // 随机数
    var random = new Random();
    // 获取页面样式
    var pageCss = (List<string>?)ViewData["css"] ?? [];
    // 获取页面脚本
    var pageJs = (List<string>?)ViewData["js"] ?? [];
    // 获取语言
    var language = (string?)ViewData["lang"] ?? "en";
    // 获取站点信息
    // var sites = (List<SiteDefine>?)ViewData["sites"] ?? [];
    // var siteDefine = (SiteDefine?)ViewData["site"] ?? new SiteDefine();
    // var siteAlign = siteDefine.LayoutAlign == LayoutAlignTypeEnum.LEFT_TO_RIGHT ? "ltr" : "rtl";
    // 获取快速访问
    // var quickLinks = (List<ArticleViewDto>?)ViewData["quick_links"] ?? [];
    // var follows = (List<ArticleViewDto>?)ViewData["follows"] ?? [];
    // 获取语言包信息
    var lpm = (MvcLpm?)ViewData["lpm"] ?? new MvcLpm();
    // 获取标题
    var title = ViewData["title"]?.ToString();
    // 获取标识
    var flag = ViewData["flag"]?.ToString();
    // 获取是否显示Banner图
    var isBannerVisible = (bool?)ViewData["banner_visible"] ?? false;
    // 获取按钮可见性
    var isButtonAddNoteVisible = (bool?)ViewData["btn_add_note_visible"] ?? false;
    var isButtonLoginVisible = (bool?)ViewData["btn_login_visible"] ?? false;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@title</title>
    <link rel="icon" href="~/delly_256.ico" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @foreach (var css in pageCss)
    {
        <link rel="stylesheet" href="@css" />
    }
    @foreach (var js in pageJs)
    {
        <script src="@(js)?r=@(random.NextDouble())"></script>
    }
</head>
<body>
    <!-- 头部 -->
    <header class="site-header">
        <nav class="nav-container">
            <!-- 移动端按钮 -->
            @* <a id="mobile-menu" title="mobile" href="javascript:;"><img alt="" src="~/image/menu.svg"/></a> *@
            <!-- 移动端按钮 -->
            @* <a href="#" class="logo">YetMee</a> *@
            <!-- 搜索框 -->
            @* <div class="search-container">
            <input type="text" class="search-input" placeholder="@lpm.SearchProduct">
            <button title="search" class="search-button"><i class="fas fa-search"></i></button>
        </div> *@

            <div class="nav-links">
                @if (flag == nameof(IndexModel))
                {
                    <span>@lpm.DellyNote</span>
                }
                else
                {
                    <a href="/">@lpm.DellyNote</a>
                }
                @if (flag == nameof(ListModel))
                {
                    <span>@lpm.AllNotes</span>
                }
                else
                {
                    <a href="/List">@lpm.AllNotes</a>
                }
                @* <a href="/ContentPage?code=ABOUT&lang=@language" data-translate="about">@lpm.About</a>
            <a href="/ContentPage?code=CONTACT_US&lang=@language" data-translate="contact">@lpm.ContactUs</a> *@
            </div>
            <div class="nav-buttons">
                @if (isButtonAddNoteVisible)
                {
                    <a href="/MdEdit" class="primary">+ @lpm.AddMdNote</a>
                }
                @if (isButtonLoginVisible)
                {
                    <a href="/Login" class="success">@lpm.Login</a>
                }
                else
                {
                    <a href="javascript:;" class="error" onclick="site.logout();">@lpm.Logout</a>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>

    <!-- 联系弹窗 -->
    <section class="dig-quotation" style="display: none">
        <div class="box">
            <div class="title">@lpm.Quotation</div>
            <div class="tip">@lpm.QuotationTip</div>
            <div class="confirm"><a href="javascript:void(0);" onclick="$site.hideQuotation();" class="cta-button">@lpm.Confirm</a></div>
        </div>
    </section>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script type="text/javascript">
        @* $site.setLayoutAlign("@siteAlign"); *@
    </script>
</body>
</html>