@page
@using Delly.Note.Razor.Pages
@model EditModel

@{
    // 获取标题
    var title = ViewData["title"]?.ToString();
}

<!-- 页面标题 -->
<section class="page-title">
    <s></s>
    <a href="/?lang=@Model.Language">@Model.Lpm.Home</a>
    <i>/</i>
    <a href="/Product?lang=@Model.Language">@Model.Lpm.Products</a>
    <i>/</i>
    <span>@title</span>
</section>
<!-- 页面内容 -->
<section class="page-content">@Html.Raw(Model.Note?.Content)</section>
<section class="page-button">
    <a href="javascript:void(0);" onclick="$site.showQuotation();" class="cta-button">@Model.Lpm.Quotation</a>
</section>
