@page
@using DellyNote.Razor.Pages
@model IndexModel

@{
    var isButtonLoginVisible = (bool?)ViewData["btn_login_visible"] ?? false;
}

<!-- Logo -->
<section class="logo-section">
    <img src="~/image/delly1_256.png" alt="@Model.Lpm.DellyNote" title="@Model.Lpm.DellyNote" class="logo" />
    <h1>@Model.Lpm.DellyNote</h1>
    <span>@Model.Lpm.Slogan</span>
</section>
<section class="note-section">
    @for (var i = 0; i < Model.Notes.Count; i += 3)
    {
        <div class="row">
            @for (var j = 0; j < 3; j++)
            {
                if (i + j >= Model.Notes.Count) { break; }
                var row = Model.Notes[i + j];
                <div class="note" style="border-left: 6px solid #7ab968;">
                    <div class="tools">
                        <div class="right">
                            @if (!isButtonLoginVisible)
                            {
                                <a href="/MdEdit?id=@row.Id"><img src="/image/edit.svg" alt="" /></a>
                                <a href="javascript:;" onclick="ctx.delete(`@row.Id`,`@row.Title`);"><img src="/image/delete.svg" alt="" /></a>
                            }
                        </div>
                    </div>
                    <h1><a href="/Content?id=@row.Id" target="_blank">@row.Title</a></h1>
                    <span>于 @row.LastModificationTime.ToString("yyyy-MM-dd HH:mm") 最后更新</span>
                    <span>于 @row.CreationTime.ToString("yyyy-MM-dd HH:mm") 创建</span>
                </div>
            }
        </div>
    }
</section>
